<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:switch="${products}">
    <div>
        <h2>Список продуктов!</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <br>
                <th>Категория</th>
                <br>
                <th>Названия</th>
                <br>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.getCategoryId().name}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <button>
                        <a>Редактировать</a>
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <br>
    <p>
        <button>
            <a>Добавить продукта</a>
        </button>
    </p>
</div>
</body>
</html>